{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "9.0.0"
        }
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-class-properties"
    ]
  ]
}
